<div class="px-10">
  <div class="p-col-8 p-md-4">
    <div class="card" >
      <button (click)="openNew()"
              class="bg-green-400 my-3 hover:bg-green-500 disabled:opacity-50 text-white font-bold py-3 px-6 rounded">
        + Add
      </button>

      <p-table #dt [value]="contacts" [rows]="5" [paginator]="true" [loading]="loading"
               [totalRecords]="totalRecords"
               dataKey="id"
               stateStorage="session" stateKey="connection-session"
               [(selection)]="selectedContacts" [rowHover]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Full name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contact>
          <tr>
            <td>
              <p-avatar [label]="contact.targetUser.firstName[0]+contact.targetUser.lastName[0]"
              ></p-avatar>
              {{contact.targetUser.firstName}} <b>{{contact.targetUser.lastName}}</b></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-dialog [(visible)]="contactDialog" [style]="{width: '450px'}" header="Add a contact" [modal]="true"
          styleClass="p-fluid" class="bg-gray-50">
  <ng-template pTemplate="content">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmitForm()">
      <p-messages severity="error" *ngIf="contactForm.get('email')?.errors?.serverError"
                  [value]="contactForm.get('email')?.errors?.serverError" [enableService]="false"
      ></p-messages>
      <div class="p-10 bg-white max-w-xl rounded">
        <div class="mb-4 relative">
          <input [ngClass]="{'filled': contactForm.get('email')?.value?.length > 0}"
                 formControlName="email" autofocus
                 class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus
                  focus:border-teal-600 focus:outline-none active:outline-none active:border-pink-600"
                 id="email" type="text">
          <label for="email"
                 class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text">Email
            Address</label>
        </div>

      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      (click)="hideDialog()"
      class="bg-gray-100 text-gray-700 mr-4 hover:bg-gray-400 text-white font-semibold py-3 px-6 rounded">Cancel
    </button>
    <button [disabled]="contactForm.invalid" (click)="onSubmitForm()"
            class="bg-green-600 hover:bg-green-dark disabled:opacity-50 text-white font-bold py-3 px-6 rounded">Add
    </button>
  </ng-template>
</p-dialog>
<p-toast *ngIf="newContact"></p-toast>
