<div class="relative bg-gray-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6" >
      <p-breadcrumb styleClass="green-panel" *ngIf="isAuth" [home]="home"
                    [model]="menuItems"></p-breadcrumb>
  </div>
</div>
