<div class="mt-32 ml-60 w-2/3">
  <section class="my-8">
    <h3 class="text-xl font-semibold mb-4">Personal information</h3>
    Email: {{registrationRequest?.username}}
    <br>
    Firstname: {{registrationRequest?.firstName}}
    <br>
    Lastname: {{registrationRequest?.lastName}}
  </section>
  <hr>
  <section class="my-8">
    <h3 class="text-xl font-semibold mb-4">Bank Account</h3>
    IBAN: {{registrationRequest?.bankAccount?.iban}}
    <br>
    SWIFT: {{registrationRequest?.bankAccount?.swiftCode}}
    <br>
    OWNER FULL NAME: {{registrationRequest?.bankAccount?.ownerFullName}}
  </section>

  <div class="justify-between flex">
    <div class="justify-start mt-8">
      <button type="button" (click)="prevPage()"
              class="group relative flex justify-end py-2 px-4 border border-transparent text-lg
                font-medium rounded-md text-white bg-gray-500 disabled:opacity-50 hover:bg-gray-700
                focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
        </svg>
      </button>
    </div> <div class="justify-end mt-8">
    <button type="submit" (click)="onCreate()" autofocus
            class="group relative flex justify-end py-2 px-4 border border-transparent text-lg
                font-medium rounded-md text-white bg-green-600 disabled:opacity-50 hover:bg-green-700
                focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
       Create
    </button>
  </div>
  </div>
</div>
