<div class="container mx-auto px-4 space-y-4">
  <h1 class="my-8 text-lg font-bold">Send Money</h1>
  <div class="block">
    <app-transaction-form></app-transaction-form>
  </div>
  <h1 class="my-8 text-lg font-bold">My Transactions</h1>
  <div class="block">
    <app-transaction-table class="px-auto"></app-transaction-table>
  </div>
</div>
