<div class="stepsdemo-content">
  <div class="m-8">
    <div class="text-2xl font-bold">
      Personal information
    </div>
  </div>
  <div class="flex items-center justify-center mt-8 bg-gray-50 py-4 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <p-messages severity="error" *ngIf="registerForm.get('firstName')?.errors?.serverError"
                    [value]="registerForm.get('firstName')?.errors?.serverError" [enableService]="false"
        ></p-messages>
      </div>
      <form class="mt-8 space-y-6" [formGroup]="registerForm" (ngSubmit)="nextPage()">
        <!--      <input type="hidden" name="remember" value="true">-->
        <div class="rounded-md shadow-sm">
          <div>
            <label for="firstName" class="sr-only">first name</label>
            <input id="firstName" formControlName="firstName" autofocus type="text" [ngClass]="{
          'border-red-400 ng-invalid' : registerForm.get('firstName')?.touched &&
          registerForm.get('firstName')?.errors
          }"
                   autocomplete="current-firstName" required
                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
                 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500
                 focus:border-green-500 focus:z-10 sm:text-sm"
                   placeholder="First name">
            <div class="text-red-500" *ngIf="registerForm.get('firstName')?.touched &&
          registerForm.get('firstName')?.errors"
            >
              <small *ngIf="registerForm.get('firstName')?.errors?.pattern">
                Letters and spaces only</small>
              <small *ngIf="registerForm.get('firstName')?.errors?.required">
                Required</small>
            </div>
          </div>
          <div class="mt-8">
            <label for="lastName" class="sr-only">last name</label>
            <input id="lastName" formControlName="lastName" type="text" [ngClass]="{
          'border-red-400' : registerForm.get('lastName')?.touched && registerForm.get('lastName')?.errors
          }" autocomplete="current-lastName"
                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
                 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500
                 focus:border-green-500 focus:z-10 sm:text-sm"
                   placeholder="Last name">
            <div class="text-red-500" *ngIf="registerForm.get('lastName')?.touched &&
          registerForm.get('lastName')?.errors"
            >
              <small *ngIf="registerForm.get('lastName')?.errors?.pattern">Letters and spaces only</small>
              <small *ngIf="registerForm.get('lastName')?.errors?.required">
                Required</small>
            </div>
          </div>
          <div class="justify-between flex">
            <div class="justify-start mt-8">
              <button type="button" (click)="prevPage()"
                      class="group relative flex justify-end py-2 px-4 border border-transparent text-lg
                font-medium rounded-md text-white bg-gray-500 disabled:opacity-50 hover:bg-gray-700
                focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M11 17l-5-5m0 0l5-5m-5 5h12"/>
                </svg>
              </button>
            </div>
            <div class="justify-end mt-8">
              <button type="submit" [disabled]="registerForm.invalid"
                      class="group relative flex justify-end py-2 px-4 border border-transparent text-lg
                font-medium rounded-md text-white bg-green-600 disabled:opacity-50 hover:bg-green-700
                focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
