<div class="stepsdemo-content">
  <div class="m-24">
    <div class="text-2xl font-bold">
      Credentials
    </div>
  </div>
  <div class="flex items-center justify-center mt-8 bg-gray-50 py-4 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <p-messages severity="error" *ngIf="registerForm.get('username')?.errors?.serverError"
                    [value]="registerForm.get('username')?.errors?.serverError" [enableService]="false"
        ></p-messages>
      </div>
      <form class="mt-8 space-y-6" [formGroup]="registerForm" (ngSubmit)="nextPage()">
        <div class="rounded-md shadow-sm">
          <div>
            <label for="username" class="sr-only">Email address</label>
            <input id="username" formControlName="username" autofocus type="email" [ngClass]="{
          'border-red-400 ng-invalid' : registerForm.get('username')?.touched &&
          registerForm.get('username')?.errors
          }"
                   autocomplete="email" required
                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
                 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-green-500
                 focus:border-green-500 focus:z-10 sm:text-sm"
                   placeholder="Email address">
            <div class="text-red-500" *ngIf="registerForm.get('username')?.touched &&
          registerForm.get('username')?.errors"
            >
              <small *ngIf="registerForm.get('username')?.errors?.email">
                Please provide a valid email</small>
              <small *ngIf="registerForm.get('username')?.errors?.required">
                Required</small>
            </div>
          </div>
          <div class="mt-8">
            <label for="password" class="sr-only">Password</label>
            <input id="password" formControlName="password" type="password" [ngClass]="{
          'border-red-400' : registerForm.get('password')?.touched && registerForm.get('password')?.errors
          }" autocomplete="current-password"
                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
                 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500
                 focus:border-green-500 focus:z-10 sm:text-sm"
                   placeholder="Password">
            <div class="text-red-500" *ngIf="registerForm.get('password')?.touched &&
          registerForm.get('password')?.errors"
            >
              <small *ngIf="registerForm.get('password')?.errors?.email">
                Must be between 6 to 25 alphabetical characters or digits</small>
              <small *ngIf="registerForm.get('password')?.errors?.required">
                Required</small>
            </div>
          </div>
          <div>
            <label for="passwordConfirmation" class="sr-only">Password</label>
            <input id="passwordConfirmation" formControlName="passwordConfirmation" type="password" [ngClass]="{
          'border-red-400' : registerForm.get('passwordConfirmation')?.touched && registerForm.get('passwordConfirmation')?.errors
          }" autocomplete="current-password"
                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300
                 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-green-500
                 focus:border-green-500 focus:z-10 sm:text-sm"
                   placeholder="Password Confirmation">
          </div>
          <div class="text-red-500" *ngIf="registerForm.get('passwordConfirmation')?.touched &&
          registerForm.get('passwordConfirmation')?.errors"
          >
            <small *ngIf="registerForm.get('passwordConfirmation')?.errors?.mustMatch">
              Passwords doesn't match </small>
            <small *ngIf="registerForm.get('passwordConfirmation')?.errors?.required">
              Required</small> <small *ngIf="registerForm.get('passwordConfirmation')?.errors?.required">
            Required</small>
          </div>
        </div>
        <div class="flex justify-end">
          <button type="submit" [disabled]="registerForm.invalid"
                  class="group relative flex justify-end py-2 px-4 border border-transparent text-lg
                font-medium rounded-md text-white bg-green-600 disabled:opacity-50 hover:bg-green-700
                focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
