<p-card header="Bank Account" styleClass="p-card-shadow">
  <p>
    <p-messages [(value)]="messages"></p-messages>
  <div class="pt-8  text-base space-y-4 rounded-3xl text-gray-700 sm:text-lg flex-1">
    <div class="bg-green-50 rounded-lg"></div>
    <p class="text-xl">IBAN: <span class="text-green-500 font-semibold">{{bankAccount?.iban }}</span></p>
    <p class="text-xl">SWIFT: <span class="text-green-500 font-semibold">{{bankAccount?.swiftCode || ''}}</span></p>
    <div class="mx-auto rounded-full"></div>
    <div class="py-4 rounded-bl-3xl rounded-br-3xl justify-center">
      <p class="text-xl uppercase">Owner full name:
        <span class="text-green-500 font-semibold">{{bankAccount?.ownerFullName}}</span></p>
    </div>
  </div>
  <ng-template pTemplate="footer" [formGroup]="transactionForm" (ngSubmit)="onSubmitForm()">
    <form [formGroup]="transactionForm"
          (ngSubmit)="onSubmitForm()" *ngIf="formVisible == true">
      <p-messages severity="error" *ngIf="transactionForm.get('amount')?.errors?.serverError"
                  [value]="transactionForm.get('amount')?.errors?.serverError" [enableService]="false">
      </p-messages>
      <p-inputNumber formControlName="amount" mode="currency" locale="fr-FR" currency="EUR"
                     [minFractionDigits]="2"
                     [step]="5"
                     [showButtons]="true"
                     [min]="1" [max]="50000"></p-inputNumber>
      <div class="justify-between flex">
        <button [disabled]="transactionForm.invalid" type="submit"
                class="bg-green-400 flex hover:bg-green-500 disabled:opacity-50 mr-3 text-white font-bold py-3 px-6 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <span class="ml-2">Recharge</span>
        </button>
      </div>
    </form>
    <div class="justify-between flex">
      <button type="button" *ngIf="formVisible === false"
              class="bg-green-400 flex hover:bg-green-500 disabled:opacity-50 mr-3 text-white font-bold py-3 px-6 rounded"
              (click)="formVisible = true">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 flex" fill="none" viewBox="0 0 24 24"
             stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"/>
        </svg>
        <span class="ml-2">Recharge Wallet</span>
      </button>
    </div>
  </ng-template>
</p-card>
