<div class="main-content h-full flex-1 pb-24 md:pb-5">
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 xl:w-1/3 p-6">
      <!--Metric Card-->
      <div class="bg-white border-b-4 border-green-600 rounded-lg shadow-xl p-5 cursor-pointer" routerLink="/profile">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-5 bg-green-600"></div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-600">Wallet balance</h5>
            <h3 class="font-bold text-3xl" *ngIf="wallet">{{wallet.balance | currency:'EUR':'symbol':'2.2-2':'fr'}}
              <span class="text-green-500"></span></h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-6 cursor-pointer" routerLink="/transfer">
      <!--Metric Card-->
      <div class="bg-white border-b-4 border-pink-500 rounded-lg shadow-xl p-5">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-5 bg-pink-600"></div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-600">Sent amount</h5>
            <h3 class="font-bold text-3xl"><span
              class="text-pink-500">{{this.stats?.sentTransactions | currency:'EUR':'symbol':'2.2-2':'fr'}}</span>
            </h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-6 cursor-pointer" routerLink="/contact">
      <!--Metric Card-->
      <div class="bg-white border-b-4 border-yellow-200 rounded-lg shadow-xl p-5">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-5 bg-yellow-600"></div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-600">Contacts</h5>
            <h3 class="font-bold text-3xl"> <span class="text-yellow-600">{{stats?.connectionsCount}}</span></h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-6">
      <!--Metric Card-->
      <div class="bg-white border-b-4 border-indigo-300 rounded-lg shadow-md p-5">
        <div class="flex flex-row items-center">
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-600">{{today | date:'MMMM y'}}</h5>
            <h3 class="font-bold text-3xl pt-10">
              <p-chart type="doughnut" [data]="data" [options]="chartOptions"
              ></p-chart>
            </h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
  </div>
</div>
