<p-card header="Wallet" styleClass="p-card-shadow">
  <p>
    <p-messages [(value)]="messages"></p-messages>
  <div class="pt-8 text-base rounded-3xl text-gray-700 sm:text-lg">
    <div class="bg-green-50 rounded-lg"></div>
    <p class="text-xl">BALANCE: <span class="text-green-500 font-semibold">
      {{wallet?.balance | currency:'EUR':'symbol':'2.2-2':'fr'}}</span></p>
    <div class="rounded-full"></div>
  </div>
  <ng-template pTemplate="footer">
    <form [formGroup]="transactionForm"
          (ngSubmit)="onSubmitForm()">
      <p-messages severity="error" *ngIf="transactionForm.get('amount')?.errors?.serverError"
                  [value]="transactionForm.get('amount')?.errors?.serverError" [enableService]="false"
      ></p-messages>
      <div class="flex justify-between">
        <button *ngIf="wallet?.balance && wallet.balance >= 1" type="submit"
                class="bg-green-400 flex hover:bg-green-500 disabled:opacity-50 text-white font-bold py-3 px-6 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <span class="ml-2">Send to bank</span>
        </button>
      </div>
    </form>
  </ng-template>
</p-card>
