<div class="bg-gray-50 min-h-screen">
  <app-topbar [isAuth]="isAuth" [title]="title"></app-topbar>
  <div class="mx-auto" *ngIf="isAuth">
    <app-breadcrumb [isAuth]="isAuth"></app-breadcrumb>
  </div>
  <div class="">
    <div class="">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>
