<div class="min-h-full flex items-center justify-center bg-gray-50 py-4 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-8 text-center text-3xl font-extrabold text-gray-900">
        Sign in
      </h2>
      <p-messages severity="error" *ngIf="loginForm.get('username')?.errors?.serverError"
                  [value]="loginForm.get('username')?.errors?.serverError" [enableService]="false"
      ></p-messages>
    </div>
    <form class="mt-8 space-y-6" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
      <div class="rounded-md shadow-sm ">
        <div>
          <label for="username" class="sr-only">Email address</label>
          <input id="username" formControlName="username" type="email" [ngClass]="{
          'border-red-400 ng-invalid' : loginForm.get('username')?.touched &&
          loginForm.get('username')?.errors
          }"
                 autocomplete="email" required
                 class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
                 placeholder="Email address">
          <div class="text-red-500" *ngIf="loginForm.get('username')?.touched &&
          loginForm.get('username')?.errors"
          >
            <small *ngIf="loginForm.get('username')?.errors?.email">
              Must be a valid email address</small>
            <small *ngIf="loginForm.get('username')?.errors?.required">
              Required</small>
          </div>
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" formControlName="password" type="password" [ngClass]="{
          'border-red-400' : loginForm.get('password')?.touched && loginForm.get('password')?.errors
          }" autocomplete="current-password"

                 class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
                 placeholder="Password">
          <div class="text-red-500" *ngIf="loginForm.get('password')?.touched &&
          loginForm.get('password')?.errors"
          >
            <small *ngIf="loginForm.get('password')?.errors?.pattern">
              Must be between 6 to 25 alphabetical characters or digits</small>
            <small *ngIf="loginForm.get('password')?.errors?.required">
              Required</small>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input id="remember-me" formControlName="rememberMe" type="checkbox"
                 class="w-4 text-green-600 focus:ring-green-500 border-gray-300 rounded">
          <label for="remember-me" class="ml-2 block text-sm text-gray-900">
            Remember me
          </label>
        </div>
      </div>
      <div>
        <button type="submit" [disabled]="loginForm.invalid"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-lg
                font-medium rounded-md text-white bg-green-600 disabled:opacity-50 hover:bg-green-700
                 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          Sign in
        </button>
      </div>
    </form>
    <div>
      <span class="text-gray-900">Don't have an account?</span>
      <a routerLink="/register/credentials" routerLinkActive="text-green-700"
         class="text-base font-medium text-gray-500 hover:underline">
        Create one now!
      </a>
    </div>
  </div>
</div>
