<p-messages [(value)]="messages"></p-messages>
<div class="container mx-auto py-6 w-full grid gap-4 grid-cols-2 md:w-2/3 flex justify-start">
  <p-card header="User" styleClass="p-card-shadow">
    <p>
    <div class="pt-8 text-base rounded-3xl text-gray-700 sm:text-lg">
      <div class="bg-green-50 rounded-lg"></div>
      <p class="text-xl">FULL NAME:<span class="text-green-500 font-semibold"> {{currentUser?.firstName }}
        {{currentUser?.lastName || ''}}</span></p>
    <p class="text-xl">EMAIL: <span class="text-green-500 font-semibold">{{currentUser?.email}}</span></p>
      <div class="rounded-full"></div>
    </div>
  </p-card>
</div>
<div class="container mx-auto pb-6 w-full grid gap-4 grid-cols-2 md:w-2/3 justify-start">
  <div>
    <app-bank-transaction-form [bankAccount]="bankAccount"></app-bank-transaction-form>
  </div>
  <div class="flex-1">
    <app-wallet></app-wallet>
  </div>
</div>
(
