<form [formGroup]="transactionForm" (ngSubmit)="onSubmitForm()"
      class="p-formgroup-inline flex space-x-4 p-4 bg-gray-200 border
       rounded-md shadow-sm items-center justify-center">

  <p-messages severity="error" *ngIf="transactionForm.get('amount')?.errors?.serverError"
              [value]="transactionForm.get('amount')?.errors?.serverError" [enableService]="false"
  ></p-messages>
  <div class="flex-1">
    <p-dropdown [options]="contacts" formControlName="receiverUserId"
                [showClear]="this.transactionForm.touched"
                placeholder="Select a Receiver"
                optionLabel="targetUser.firstName"
                [filter]="true"
                filterBy="targetUser.firstName"
                [autoDisplayFirst]="false"
                optionValue="targetUser.id">
      <ng-template let-contact pTemplate="item">
        <div class="contact-item">
          <div>{{contact.targetUser.firstName}} <b>{{contact.targetUser.lastName}}</b></div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  {{selectedContact}}
  <div class="flex-1">
    <p-inputNumber formControlName="amount" mode="currency" locale="fr-FR" currency="EUR"
                   [minFractionDigits]="2"
                   [step]="5"
                   [showButtons]="true"
                   [min]="0" [max]="50000"></p-inputNumber>

  </div>
  <div class="flex-1">
    <div class="relative">
      <input [ngClass]="{'filled': transactionForm.get('description')?.value?.length > 0}"
             formControlName="description" autofocus
             class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus
                  focus:border-teal-600 focus:outline-none active:outline-none active:border-pink-600"
             id="description" type="text">
      <label for="description"
             class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text">Description
      </label>
    </div>
  </div>
  <div class="flex-1">
    <button [disabled]="transactionForm.invalid" type="submit"
            class="bg-green-400 hover:bg-green-500 disabled:opacity-50 text-white font-bold py-3 px-6 rounded">
      Pay
    </button>
  </div>
</form>
<p-messages></p-messages>
