<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-gray-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center
    border-b-2 border-gray-100 py-1 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a routerLink="/">
          <span class="sr-only">{{title}}</span>
          <app-logo [title]="title">
          </app-logo>
        </a>
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button type="button"
                class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400
                hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
               aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
        </button>
      </div>
      <nav class="hidden md:flex space-x-10">

        <a routerLink="/home" routerLinkActive="text-green-700" *ngIf="isAuth"
           class="text-base font-medium text-gray-500 hover:underline">
          Home
        </a>
        <a routerLink="/transfer" routerLinkActive="text-green-700" *ngIf="isAuth"
           class="text-base font-medium text-gray-500 hover:underline">
          Transfer
        </a>
        <a routerLink="/profile" routerLinkActive="text-green-700" *ngIf="isAuth"
           class="text-base font-medium text-gray-500 hover:underline">
          Profile
        </a>
        <a routerLink="/contact" routerLinkActive="text-green-700" *ngIf="isAuth"
           class="text-base font-medium text-gray-500 hover:underline">
          Contact
        </a>
      </nav>
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        <div class="flex justify-between p-6">
          <div class="flex items-center space-x-4">
            <a routerLink="#" routerLinkActive="text-green-700"
               class="text-base font-medium flex items-center space-x-2
        text-gray-500 hover:underline" (click)="onLogOff()">
              <svg *ngIf="isAuth" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>
              </svg>
              <span>{{isAuth ? "Log out" : "Sign in"}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
