<div class="card" >
  <p-table [value]="transactions" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [rowsPerPageOptions]="[3,5,10]">
    <ng-template pTemplate="header">
      <tr class="bg-green-500">
        <th>DATE</th>
        <th>CONNECTION</th>
        <th>DESCRIPTION</th>
        <th>AMOUNT</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td><span class="text-gray-500">{{transaction.date | date}}</span></td>
        <td>{{transaction.receiverBankAccount?.ownerFullName || transaction.receiverWallet.user.firstName +
        ' ' + transaction.receiverWallet.user.lastName}}
        </td>
        <td>{{transaction.description}}</td>
        <td class="whitespace-nowrap"><span
          class="px-2 inline-flex text-xs leading-5 font-bold rounded-full bg-green-100 text-green-800">
                  {{transaction.amount}} €
                </span></td>
      </tr>
    </ng-template>
  </p-table>
</div>
